body,
html {
  margin: 0;
  min-height: 100%;
}
footer {
  background-color: #1b3848;
}
#texto--imagen {
  bottom: 225px;
  right: 150px;
}
#charla {
  color: black;
  text-decoration-style: dotted;
}
.navbar--logo__size {
  height: 100px;
  width: 200px;
}
.icon {
  color: #198754;
}
.registro {
  color: #008000;
}
.registro:hover {
  color: #ffff;
}
.btn--enviar {
  background-color: #96c93e;
}
.modal--back{
  background-color: #1b3848;
}
.field-item {
  color: #aaa;
  font-size: 14px;
  background-color: #1b3848;
  padding: 0.275rem;
}
.noseleccionar {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@media (max-width: 600px) {
  #texto--imagen {
    bottom: 0;
  }
}
