* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #d7cdc4 ;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  background-image: url(https://img.freepik.com/foto-gratis/maqueta-pared-blanca-casa-estilo-loft-sofa-accesorios-habitacion-representacion-3d_41470-3836.jpg?t=st=1649183362~exp=1649183962~hmac=60f3d5d134dc2729e6618a735ae7c7673b235ef5019dd80a757d38d3270d3e17&w=1380);
  background-size: cover;
  height: 100vh;
}
nav,
h1 {
  position: absolute;
  display: inline-block;
  color: whitesmoke;
}
nav {
  right: 15px;
  top: 25px;
}
h1 {
  left: 15px;
  top: 10px;
}
h1:hover {
  color: darkorange;
}
h2 {
  padding-top: 25px;
  text-align: center;
  color:whitesmoke;
}
span {
  color: darkorange;
  text-decoration: underline;
}
a {
  padding: 2px;
  border: 2px solid white;
  border-radius: 5px;
  color: whitesmoke;
  text-decoration: none;
  transition: all ease 1s;
}
a::before {
  content: ">>";
  opacity: 0;
  position: absolute;
  transition: all 1s ease;
}
a:hover::before {
  opacity: 1;
  position: static;
}
a:hover {
  color: darkorange;
  border-color: darkorange;
  cursor: pointer;
}
a:active {
  color: red;
}
a:visited {
  text-decoration: none;
}
.caja--centrada {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seccion-caja {
  display: inline-block;
  width: 300px;
  height: 450px;
  background-color: bisque;
}
.container__seccion {
  margin-top: 25px;
  display: inline-block;
}
.caja--titulo{
  text-shadow: 1px 1px 2px black;
}
