body, html {
    height: 100%;
  }
header{
    height: 100vh;
}
#imagen--fondo{
    opacity: 0.4;
    height: 100vh;
    filter: contrast(200%);
}
#imagen--oradores{
    width: 100px;
    height: 100px;
}
#comprar {
    color: green;
}
#textoImagen{
    width: 868px;
    position: absolute;
    bottom: 100px;
    right: 100px;
}
.card-deck {
    margin: auto;
    width: 768px;
}