body,
html {
  height: 100%;
  margin: 0;
}
header {
  height: 100vh;
}
#imagen--fondo {
  opacity: 0.4;
  height: 100vh;
  filter: contrast(200%);
}
#comprar {
  color: #008000;
}
#textoImagen {
  bottom: 225px;
  right: 150px;
}
.noseleccionar {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

