@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
$clr-blkPrim: #000;
$clr-bluPrim: #34568B;
$clr-redPrim: #A52A2A;
$clr-LbluPrim: #45567d;
$clr-DgrayPrim: #A9A9A9;
$clr-slmonPrim: #E9967A;
$bg: #2f2f2f;
$fg: #06c17f;
$border-width: .5rem;
$corner-size: 3rem;
$dur: .3s;

