@import "var", "norm";
body {
  background-color: $clr-DgrayPrim;
  font-family: 'Roboto', sans-serif;
}
button {
    border-radius: 50%;
}
.contenedor--clase {
  display: grid;
  margin: auto;
  justify-content: center;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: auto repeat(3, 250px);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.contenedor--clase__titulo {
  grid-area: 1 / 1 / 2 / 4;
  text-align: center;
}
.btn2 {
  grid-area: 2 / 1 / 3 / 2;
}
.btn3 {
  grid-area: 2 / 2 / 3 / 3;
}
.btn4 {
  grid-area: 2 / 3 / 3 / 4;
}
.btn5 {
  grid-area: 3 / 1 / 4 / 2;
}
.btn6 {
  grid-area: 3 / 2 / 4 / 3;
}
.btn7 {
  grid-area: 3 / 3 / 4 / 4;
}
.btn8 {
  grid-area: 4 / 1 / 5 / 2;
}
.btn9 {
  grid-area: 4 / 2 / 5 / 3;
}
.btn10 {
  grid-area: 4 / 3 / 5 / 4;
}
